.card {
  width: $card-width;
  box-sizing: border-box;
  text-align: center;

  transition: transform 300ms ease-in-out;

  &__title {
    font-size: 1em;
    margin: 10px 0;
    transition: color 300ms ease-in-out;
  }

  &__button {
    display: block;
    padding: 10px;
    margin-top: 15px;
    text-decoration: none;
    background-color: $color-primary-light;
    color: $color-white;
    font-weight: bold;
    border-radius: 5px;

    transition:
      background-color 300ms ease-in-out,
      color 300ms ease-in-out;

    &:hover {
      background-color: $color-white;
      color: $color-primary-light;
      border: 1px solid $color-primary-light;
    }
  }

  &__price {
    font-size: 0.9em;
    margin: 5px 0;
  }
}

&:hover {
  transform: scale(1.2);
  z-index: 10;
  position: relative;

  &:hover .card__title {
    color: #34568b;
  }
}
