.catalog {
  padding: $catalog-padding-y $catalog-padding-x;
  display: grid;
  justify-content: center;
  justify-items: center;

  gap: $catalog-gap-y $catalog-gap-x;

  grid-template-columns: repeat(1, $card-width);

  @include respond-to(sm) {
    grid-template-columns: repeat(2, $card-width);
  }

  @include respond-to(md) {
    grid-template-columns: repeat(3, $card-width);
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(4, $card-width);
  }
}
