.nav {
  padding: 20px 40px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__link {
    color: $color-primary-dark;
    text-decoration: none;
    font-weight: bold;
    transition: color 300ms ease-in-out;

    &:hover,
    &.is-active {
      color: $color-primary-light;
    }
  }
}
