$color-primary-dark: #060b35;
$color-primary-light: #00acdc;
$color-card-title-hover: #34568b;
$color-white: #fff;
$color-buy-button: #00acdc;
$breakpoint-sm: 488px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}
